@model MyMarketplase.Models.WarehouseNomenclature

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WarehouseNomenclature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
