@model MyMarketplase.Models.WarehouseNomenclature

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WarehouseNomenclature</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Warehouse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Warehouse.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
