<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyMarketplase</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyMarketplase.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" 
                           integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
                           crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MyMarketplase</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                @if (ViewData["ListOfCategories"] as List<Category> != null)
                                {
                                    foreach (var cat in ViewData["ListOfCategories"] as List<Category>)
                                    {
                                        <li><a class="dropdown-item" asp-action="IndexCat" asp-controller="Home" asp-route-id="@cat.Id">@cat.Name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(User.IsInRole("admin")){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                            </li>
                        }
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    @if (!User.Identity.IsAuthenticated)
                    {   
                        <form asp-controller="Home" asp-action="Login" method="get">
                            <button class="btn btn-outline-success" type="submit">Log In</button>
                        </form>
                        <form asp-controller="Home" asp-action="Registration" method="get">
                            <button class="btn btn-outline-primary" type="submit">Sign In</button>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-controller="Home" asp-action="Logout">
                            <label id="userLabelName" class="ms-3 me-3">@User.Identity.Name</label>
                            <button class="btn btn-danger" id="logout">Log Out</button>
                        </form>
                    }
                    <form class="ms-3" method="post" asp-controller="Home" asp-action="ToCart">
                        <button class="btn btn-outline-warning" id="logout">Cart</button>
                    </form>
                    <div id="addToCard" style="background-color:lightgreen; width:20px; height:20px; 
                                        border-radius:50%;visibility:collapse">
                        +1
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MyMarketplase - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" 
            integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" 
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // Cookie accessor
        function setCookie(name, value, options = {}) {
            options = {
                path: "/",
                // при необходимости добавьте другие значения по умолчанию
                ...options,
            };

            if (options.expires instanceof Date) {
                options.expires = options.expires.toUTCString();
            }

            let updatedCookie =
                encodeURIComponent(name) + "=" + encodeURIComponent(value);

            for (let optionKey in options) {
                updatedCookie += "; " + optionKey;
                let optionValue = options[optionKey];
                if (optionValue !== true) {
                    updatedCookie += "=" + optionValue;
                }
            }
            document.cookie = updatedCookie;
        }

        function getCookie(name) {
            let matches = document.cookie.match(
                new RegExp(
                    "(?:^|; )" +
                    name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") +
                    "=([^;]*)"
                )
            );
            return matches ? decodeURIComponent(matches[1]) : undefined;
        }

        function deleteCookie(name) {
            setCookie(name, "", {
                "max-age": -1,
            });
        }
        // end Cookie accessor
        function ToCart(id) {
            var amount = +document.getElementById(id).value;
            var obj = { Id: id, Amount: amount };
            var userName = document.getElementById("userLabelName").innerText;
            var cart = getCookie(`cart${userName}`);
            if (cart != undefined) {
                cart = JSON.parse(cart);
            }
            else {
                cart = [];
            }
            var fIndex = cart.findIndex(o => o.Id == id);
            if (fIndex != -1) {
                obj.Amount += cart[fIndex].Amount;
                cart.splice(fIndex, 1);
            }
            cart.push(obj);
            var str = JSON.stringify(cart);
            setCookie(`cart${userName}`, str, { "max-age": 3600 * 3 });
            document.getElementById("addToCard").innerText = `+${cart.length}`;
            document.getElementById("addToCard").style.visibility = "visible";
        }
        document.addEventListener("DOMContentLoaded",()=>{
            checkCartCount();
        })

        function checkCartCount(){
            var userName = document.getElementById("userLabelName").innerText;
            var cart = getCookie(`cart${userName}`);
            if (cart != undefined) {
                cart = JSON.parse(cart);
                document.getElementById("addToCard").innerText = `+${cart.length}`;
                document.getElementById("addToCard").style.visibility = "visible";
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
