@page
@model IndexModel
@{
  ViewData["Title"] = "My QuestRoom";
}

@if (Model.QRooms.Count > 0)
{
  <form class="col-md-3">
        <input 
           id="t1"
           name="minMaxPlayer"
           data-role="doubleslider"
           data-show-min-max="true"
           data-hint-mask-min="Min player: $1"
           data-hint-mask-max="Max player: $1"
           data-hint-always="true"
           data-value-min="0"
           data-value-max="100"
           step="1"
           data-cls-hint="bg-cyan fg-white">
        <input 
           id="t2"
           name="fearRate"
           data-role="doubleslider"
           data-show-min-max="true"
           data-hint-mask-min="Min fear: $1"
           data-hint-mask-max="Max fear: $1"
           data-hint-always="true"
           data-value-min="1"
           data-value-max="5"
           step="1"
           data-cls-hint="bg-cyan fg-white">
        <input 
           id="t3"
           name="diff"
           data-role="doubleslider"
           data-show-min-max="true"
           data-hint-mask-min="Min diff: $1"
           data-hint-mask-max="Max diff: $1"
           data-hint-always="true"
           data-value-min="1"
           data-value-max="5"
           step="1"
           data-cls-hint="bg-cyan fg-white">
  
  <button class="btn btn-outline-success">filter</button>
  </form>

  <div class="mycontainer col-md-9">
    @foreach (var room in Model.QRooms)
    {
      <div class="card" style="width: 18rem;">
        <img src="@room.LogoPath" class="card-img-top" alt="nologo(@room.Name)">
        <div class="card-body">
          <h5 class="card-title">@room.Name</h5>
          <p class="card-text">@room.Description</p>
          <div class="d-flex flex-row">
            <a asp-page="QRoomInfo" asp-route-id="@room.Id" class="btn btn-info">Details</a>
          </div>
        </div>
      </div>
    }
  </div>
}