@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="text-start w-50" asp-page-handler="Added">
    <label>Name: <input name="productName" type="text" /></label>
    <label> Price: <input name="productPrice" type="text" id="price" /></label>
    <button>Add</button>
</form>
<hr />
<ul>
@foreach(Product product in Model.Products){
    <li>@product</li>
}
</ul>
<hr />  
<form class="text-start w-50" asp-page-handler="Search">
    <label>Name: <input name="productName" type="text" /></label>
    <button>Search</button>
</form>
<hr />
@if (Model.SearchProducts != null)
{   
    foreach (Product product in Model.SearchProducts)
    {
        <li>@product</li>
    }
}

<hr />
<form class="text-start w-50" asp-page-handler="CreateCategory">
    <div class="d-flex flex-row">
    <label>Name: <input name="categoriesName" type="text" /></label>
    <button>Save</button>
    </div>
    <div class="d-flex flex-column">
        @foreach(Product pr in Model.Products){
            if (pr.Category == null)
            {   
                <label class="me-2"><input type="checkbox" name="@pr.Name" value="@pr.Name" /><b>@pr.Name</b></label>
            }
        }    
    </div>
</form>
<hr />
@if (Model.Categories != null)
{
    foreach (Category category in Model.Categories)
    {
        <li>@category.getCategoryName()</li>
    }
}

<hr />
<form class="text-start w-50" asp-page-handler="SearchCategory">
    <div class="d-flex flex-row">
        <label>Name:<select name="selectCategory">
                @if (Model.Categories != null){
                    foreach(Category category in Model.Categories){
                        <option value="@category.getCategoryName()">@category.getCategoryName()</option>
                    }
                }
        </select> </label>
        <button>Select</button>
    </div>
</form>
<hr />
@if (Model.SearchCategories != null)
{
    foreach (Category category in Model.SearchCategories)
    {
        <li>@category.getCategoryName()</li>
    }
}



@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" 
    integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(()=>{
            $("#price").mask("99999,99");
        })
    </script>
}